.horizontal-scroll {
  display: flex;
  flex-direction: row;
  gap: 14px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  margin-bottom: 30px;
}

/* Personnalisation de la scrollbar */
.horizontal-scroll::-webkit-scrollbar {
  height: 12px; /* Hauteur de la scrollbar */
}

/* Style du fond (track) */
.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent; /* Fond transparent */
  border-radius: 20px; /* Bord arrondi */
  border: 2px solid rgba(200, 200, 200, 0.5); /* Contour visible */
}

/* Style du curseur (thumb) */
.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* Couleur du thumb */
  border-radius: 20px; /* Forme ovale */
  border: 3px solid transparent; /* Bordure transparente pour affiner */
  background-clip: content-box; /* Garde l'espace autour du thumb */
}

/* Effet au survol */
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary); /* Changement de couleur au survol */
}


.horizontal-scroll app-movie-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.container {
  margin-top: 20px;
}