<div class="movie-card-container" (mouseleave)="hideActions()">
  <a class="movie-card" [routerLink]="['/app-movie', movie.id]">
    <div class="image-wrapper">
      <img class="poster" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}" />
      <div class="options-btn" (click)="toggleActions($event)">...</div>
    </div>
    <div class="movie-info">
      <h2 class="movie-title">{{ movie.title }}</h2>
      <p class="movie-details">
        <span>⭐</span> {{ movie.vote_average | number:'1.1-1' }} • {{ movie.release_date | date:'y' }}
      </p>
    </div>
  </a>

  <!-- Affichage du menu d'actions selon le contexte -->
  <div class="actions-menu" *ngIf="isActive() && context === 'all'">
    <button (click)="toggleFavorite()" class="toggle-btn">
      <span class="heart">{{ isFavorite ? '♥' : '♡' }}</span>
    </button>
    <button (click)="toggleWatchlist()" class="toggle-btn">
      <span class="watchlist">{{ isInWatchlist ? '✖️' : '➕' }}</span>
    </button>
    <ng-container *ngFor="let list of userLists">
      <button (click)="toggleCustomList(list.id)" class="toggle-btn">
        <i class="fa" [ngClass]="{'fa-check': movieInLists[list.id], 'fa-plus': !movieInLists[list.id]}"></i>
        {{ list.name }}
      </button>
    </ng-container>
    <button (click)="rateMovie()" class="toggle-btn">Noter</button>
  </div>

  <!-- Pour les autres contextes, exemples -->
  <div class="actions-menu" *ngIf="isActive() && context === 'favorites'">
    <button (click)="toggleFavorite()" class="toggle-btn">
      <span class="heart">{{ isFavorite ? '♥' : '♡' }}</span>
    </button>
  </div>

  <div class="actions-menu" *ngIf="isActive() && context === 'watchlist'">
    <button (click)="toggleWatchlist()" class="toggle-btn">
      <span class="watchlist">{{ isInWatchlist ? '🔖' : '➕' }}</span>
    </button>
  </div>

  <div class="actions-menu" *ngIf="isActive() && context === 'list'">
    <ng-container *ngFor="let list of userLists">
      <button (click)="toggleCustomList(list.id)" class="toggle-btn">
        <i class="fa" [ngClass]="{'fa-check': movieInLists[list.id], 'fa-plus': !movieInLists[list.id]}"></i>
        {{ list.name }}
      </button>
    </ng-container>
  </div>
</div>
