.movie-card-container {
  position: relative;
  width: 100%;
  max-width: 200px;
  border-radius: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;


}

.movie-card-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 150ms;
  transform: translateY(-10px);
}

.movie-card {
  display: block;
  text-decoration: none;
  color: #b6b5b5;
  height: 100%;

}

.image-wrapper {
  position: relative;
  height: auto;
  border-radius: 25px 25px 0 0;

}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 25px 25px 0 0;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 9px 10px 5px 15px;
  text-align: left;
  height: 60px;
  border-radius: 0 0 25px 25px;
  background: #212529;
}

.movie-title {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  margin-left: 1px;

}

.movie-details {
  position: relative;
  font-size: 0.7rem;
  margin-bottom: 8px;

}

.action-menu-handle {
  margin-right: 15px;
  position: relative;
  width: 35px;
  height: 15px;
  background: #212529;
  color: #b6b5b5;
  text-align: center;
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  border: none;
}

.handle-icon {
  margin-top: 2px;
  font-size: 20px;
}


.actions-menu {
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: row;
  background: #212529;
  padding: 8px;
  gap: 5px;
  opacity: 0;
  transition: opacity 0.2s ease;
  border-radius: 15px 0px 0px 0px;
}

.list-dropdown {
  position: absolute;
  background: #212529;
  right: 0px;
  top: 45px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 9999999;
  border: solid 1px #1c1f22;
  border-radius: 0px 0px 10px 10px;
  justify-content: start;
  align-items: start;
  font-size: 0.6rem;
}

.actions-menu.active {
  opacity: 1;
}

.action-menu-container {
  position: absolute;
  bottom: -46px;
  transition: transform 0.3s ease;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.action-menu-container.active {
  transform: translateY(-45px);
}

.toggle-btn {
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  background: none;
}

.toggle-btn:hover {
  scale: 1.1;
  transition: 0.15s;
}

.heart-icon {
  color: red;
  font-size: 15px;

}

.bookmark-icon {
  color: purple;
  font-size: 15px;

}

.star-icon {
  color: #FFD700;
  font-size: 18px;
}

.list-btn {
  color: #b6b5b5;
}

.in-list {
  color: #b6b5b5;
}

.not-in-list {
  color: #979797;
}

.user-rating {
  position: absolute;
  font-size: 9px;
  color: #b6b5b5;
  font-style: normal;
}