.brand-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navbar {
  background-color: var(--background); /* Fond principal */
  color: var(--text); /* Texte principal */
  padding: 10px 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link {
  background: none;
  color: var(--text);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease;

  &:hover {
    background: var(--grey);
    color: var(--text-inverse);
    transform: scale(1.05);
  }

  &.active {
    background: var(--primary);
    color: var(--text-inverse);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.nav-link.logout {
  color: red; /* Texte rouge pour logout */
  font-weight: 600;
  display: inline-flex;
  align-items: center;

  &:hover {
    background-color: rgba(255, 0, 0, 0.2);
  }
}

.logout-icon {
  margin: 5px 20px 5px 20px;
  font-size: 1.2rem;
  color: red;
}

ul {
  align-items: center;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
}


.theme-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--background);
  color: var(--text);
  border: 2px solid var(--border);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  
  i {
    font-size: 1.2rem;
  }

  &:hover {
    background-color: var(--secondary);
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

.dark-mode .theme-toggle-btn {
  background-color: var(--secondary);
  color: var(--text-inverse);
  border-color: var(--primary);

  &:hover {
    background-color: var(--primary);
  }
}
