:root {
  /* Light Mode */
  --background-light: #F5F5F5; /* Gris très clair pour éviter un blanc agressif */
  --secondary-background-light: #FFFFFF; /* Fond des cards et sections */
  --primary-light: #4265ac; /* Bleu-gris doux, moderne et neutre */
  --secondary-light: #9CA3AF; /* Accent secondaire subtil */
  --text-light: #1F2937; /* Gris foncé pour un bon contraste sans être trop dur */
  --border-light: #E5E7EB; /* Lignes discrètes pour la structure */

  /* Dark Mode */
  --background-dark: #1E1E1E; /* Gris très foncé, comfy et immersif */
  --secondary-background-dark: #292929; /* Légèrement plus clair pour créer du relief */
  --primary-dark: #A8B5C3; /* Bleu-gris doux pour les accents */
  --secondary-dark: #7D8A96; /* Ton plus foncé pour les éléments interactifs */
  --text-dark: #E4E4E4; /* Blanc cassé pour une lecture agréable */
  --border-dark: #3D3D3D; /* Bordures douces pour la structure */

  /* Autres variables */
  --border-radius: 16px; /* Coins arrondis subtils */
}


html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* Couleurs Light Mode */
.light-mode {
  --background: var(--background-light);
  --secondary-background: var(--secondary-background-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --text: var(--text-light);
  --border: var(--border-light);
}

/* Couleurs Dark Mode */
.dark-mode {
  --background: var(--background-dark);
  --secondary-background: var(--secondary-background-dark);
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --text: var(--text-dark);
  --border: var(--border-dark);
}


@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-Light.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-LightItalic.otf') format('opentype');
  font-weight: 300; /* Light Italic */
  font-style: italic;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-MediumItalic.otf') format('opentype');
  font-weight: 500; /* Medium Italic */
  font-style: italic;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-BoldItalic.otf') format('opentype');
  font-weight: 700; /* Bold Italic */
  font-style: italic;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-Black.otf') format('opentype');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-BlackItalic.otf') format('opentype');
  font-weight: 900; /* Black Italic */
  font-style: italic;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-Book.otf') format('opentype');
  font-weight: 400; /* Book (Normal) */
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-BookItalic.otf') format('opentype');
  font-weight: 400; /* Book Italic */
  font-style: italic;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-XLight.otf') format('opentype');
  font-weight: 200; /* Extra Light */
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-XLightItalic.otf') format('opentype');
  font-weight: 200; /* Extra Light Italic */
  font-style: italic;
}




body {
  font-family: 'GothamSSm', sans-serif;
  font-weight: 600;
}

