:root {
  /* Light Mode */
  --background-light: #ffffff;
  --secondary-background-light: #EEEEEE;
  --primary-light: #363635;
  --secondary-light: #4a4a4a;
  --text-light: #222831;
  --text-secondary-light: #EEEEEE;
  --sub-text-light: #8a8c8f;
  --border-light: #e2e8f0;




  /* Dark Mode */
  --background-dark: #0D1B2A;
  --secondary-background-dark: #1a2938;
  --primary-dark: #00ADB5;
  --secondary-dark: #0d949b;
  --text-dark: #EEEEEE;
  --text-secondary-dark: #1a2938;
  --sub-text-dark: #b0aeae;

  --border-dark: #414141;

  --border-radius: 16px;
}



html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light-mode {
  --background: var(--background-light);
  --secondary-background: var(--secondary-background-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --text: var(--text-light);
  --text-secondary: var(--text-secondary-light);
  --sub-text: var(--sub-text-light);
  --border: var(--border-light);
}

.dark-mode {
  --background: var(--background-dark);
  --secondary-background: var(--secondary-background-dark);
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --text: var(--text-dark);
  --text-secondary: var(--text-secondary-dark);
  --sub-text: var(--sub-text-dark);
  --border: var(--border-dark);
}


@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-Light.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-LightItalic.otf') format('opentype');
  font-weight: 300; /* Light Italic */
  font-style: italic;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-MediumItalic.otf') format('opentype');
  font-weight: 500; /* Medium Italic */
  font-style: italic;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-BoldItalic.otf') format('opentype');
  font-weight: 700; /* Bold Italic */
  font-style: italic;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-Black.otf') format('opentype');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-BlackItalic.otf') format('opentype');
  font-weight: 900; /* Black Italic */
  font-style: italic;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-Book.otf') format('opentype');
  font-weight: 400; /* Book (Normal) */
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-BookItalic.otf') format('opentype');
  font-weight: 400; /* Book Italic */
  font-style: italic;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-XLight.otf') format('opentype');
  font-weight: 200; /* Extra Light */
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm';
  src: url('/assets/fonts/GothamSSm-XLightItalic.otf') format('opentype');
  font-weight: 200; /* Extra Light Italic */
  font-style: italic;
}




body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-weight: 600;
}

