<div class="modal">
    <div class="modal-content">
      <h3 *ngIf="!listData">Create a new list</h3>
      <h3 *ngIf="listData">Edit the list</h3>
  
      <input
        class="form-control mb-2"
        placeholder="Name"
        [(ngModel)]="name"
      />
      <input
        class="form-control mb-2"
        placeholder="Description"
        [(ngModel)]="description"
      />
  
      <button class="btn btn-primary" (click)="onSave()">Save</button>
      <button class="btn btn-secondary" (click)="close.emit(false)">Cancel</button>
    </div>
  </div>
  