h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--text);
  font-weight: 600;
  text-align: left;
}

.btn {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: translateY(-2px);
  }
}

.btn-primary {
  background-color: var(--primary);
  color: var(--text-secondary);

  &:hover {
    background-color: var(--secondary);
  }
}

.btn-secondary {
  background-color: var(--background);
  color: var(--text);

  &:hover {
    background-color: var(--primary);
  }
}

.btn-danger {
  background-color: rgb(172, 12, 12);
  color: var(--text);

  &:hover {
    background-color: rgb(129, 10, 10);
  }
}

.list-group {
  margin: 2rem;
  padding: 0;
  list-style: none;
  background: var(--background);
  border-radius: var(--border-radius);
  overflow: hidden;


}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary-background);
  transition: background-color 0.3s ease;

  &:hover {
  }

  a {
    color: var(--primary);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    transition: 0.3s ease;

    &:hover {
      color: #69dce2
    }
  }

  div {
    display: flex;
    gap: 0.5rem;
  }
}

p {
  text-align: center;
  color: var(--secondary);
  font-size: 1rem;
  margin-top: 1rem;
}

.btn i {

  margin-right: 5px;
}
