<div class="container mt-5">
  <div *ngIf="movie" class="row">
    <div class="col-md-4">
      <img class="img-fluid rounded" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
    </div>

    <div class="col-md-8">
      <h1>{{ movie.title }}</h1>
      <p><strong>Date de sortie :</strong> {{ movie.release_date }}</p>
      <p><strong>Genres :</strong> {{ getGenres() }}</p>
      <p><strong>Durée :</strong> {{ movie.runtime }} min</p>
      <p><strong>Note :</strong> ⭐ {{ movie.vote_average | number: '1.1-2' }} / 10</p>
      <p><strong>Nombre de notes :</strong> {{formatNumberWithSpaces(movie.vote_count)}}</p>
      <p>{{ movie.overview }}</p>

      <!-- Action Buttons -->
      <div class="mt-3">
        
        <button class="btn btn-outline-success me-2" (click)="openActionModal('favorites')">
          {{ isFavorite ? 'Remove from Favorites' : 'Add to Favorites' }}
        </button>
        
        <button class="btn btn-outline-primary me-2" (click)="openActionModal('watchlist')">
          {{ isInWatchlist ? 'Remove from Watchlist' : 'Add to Watchlist' }}
        </button>
        <div class="dropdown d-inline mt-3">
          <button class="btn btn-outline-warning dropdown-toggle add-to-list" type="button" id="customListDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Add to a List
          </button>
          <ul class="dropdown-menu" aria-labelledby="customListDropdown">
            <li *ngFor="let list of userLists">
              <a class="dropdown-item add-to-list" (click)="openActionModal('customList', list.id)">
                {{ movieInLists[list.id] ? '❌ Remove from ' : '➕ Add to ' }} {{ list.name }}
              </a>
            </li>
            <li class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item create-list" (click)="openListCreationModal()">Create New List</a>
            </li>
          </ul>
        </div>
        <!-- Rating Button Group -->
        <div class="rating-container">
          <h5 class="rate-movie-string">Rate this movie:</h5>
          <div class="rating-stars">
            <span *ngFor="let star of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" 
                  class="star" 
                  [class.filled]="star <= userRating"
                  (click)="rateMovie(star)">
              &#9733;
            </span>
          </div>
        </div>
        <a class="btn btn-outline-info me-2 showtimes" [href]="'https://www.google.com/search?q=' + movie.title + ' showtimes'" target="_blank">
          Find Showtimes
        </a>
        <!-- Custom List Dropdown with "Create New List" -->
        
      </div>
      <a class="btn btn-primary mt-3" [routerLink]="'/'">Back</a>
    </div>
  </div>
</div>

<div id="loginModal" class="modal fade" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login Required</h5>
        <button type="button" class="btn-close" (click)="closeModal('loginModal')" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please log in to perform this action.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal('loginModal')">Close</button>
        <a class="btn btn-primary" routerLink="/app-login">Login</a>
      </div>
    </div>
  </div>
</div>

<div id="listCreationModal" class="modal fade" tabindex="-1" aria-labelledby="listCreationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a New List</h5>
        <button type="button" class="btn-close" (click)="closeModal('listCreationModal')" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control mb-2" placeholder="List Name" [(ngModel)]="newListName">
        <textarea class="form-control mb-2" placeholder="List Description" [(ngModel)]="newListDescription"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal('listCreationModal')">Close</button>
        <button type="button" class="btn btn-primary" (click)="createList()">Create List</button>
      </div>
    </div>
  </div>
</div>
