h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  p {
    font-size: 1.1rem;
  }
  
  .img-fluid {
    max-height: 500px;
  }
  

  .rating {
    .star {
      font-size: 2rem;
      color: #ffd700; /* Gold color for stars */
      cursor: pointer;
      transition: color 0.3s;
  
      &:hover {
        color: #ffcc00;
      }
    }
  }
  
  .btn-outline-primary,
  .btn-outline-secondary,
  .btn-outline-info,
  .btn-outline-warning {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff;
  }
  
  .btn-outline-info:hover {
    background-color: #17a2b8;
    color: #fff;
  }
  
  .btn-outline-warning:hover {
    background-color: #ffc107;
    color: #fff;
  }
  
  .create-list {
    color: #007bff; /* Bootstrap primary color */
    cursor: pointer; /* Show hand cursor on hover */
    padding: 8px 15px;
    display: block;
  }
  
  .create-list:hover {
    background-color: #f8f9fa; /* Light gray background on hover */
    color: #0056b3; /* Darker blue on hover */
  }

  .add-to-list {
    cursor: pointer;
  } 

  .rating-container {
    margin-bottom: 15px; /* Remove space between "Rate this movie" and stars */
  }
  
  .rating-stars {
    display: flex;
    gap: 5px; /* Add space between stars */
    font-size: 1.5rem;
  }
  
  .star {
    color: lightgray; /* Default color for empty stars */
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .star.filled {
    color: gold; /* Color stars up to the rating */
  }
  
  /* Add spacing before "Add to List" */
  .rate-movie-string {
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .showtimes {
    margin-bottom: 10px;
  }
  