.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 10px 0;
  width: 100%;
  background-color: var(--background);
}

.account-header {
  text-align: center;
  margin-bottom: 30px;

  h1 {
    font-size: 2rem;
    color: var(--text);
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 1rem;
    color: var(--grey2);
  }
}

.account-nav {
  display: flex;
  padding: 12px;
  border: 1px solid var(--secondary);
  border-radius: var(--border-radius);
}

.account-btn {
  background: none;
  color: var(--text);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease;

  &:hover {
    background: var(--grey);
    color: var(--text-inverse);
    transform: scale(1.05);
  }

  &.active {
    background: var(--primary);
    color: var(--text-inverse);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}
