.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 10px 0;
  width: 100%;
  background-color: var(--background);
}

.account-nav {
  position: relative;
  display: flex;
  border: 1px solid var(--primary);
  border-radius: 27px;
  overflow: hidden;
}

.account-btn {
  background: none;
  color: var(--text);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding: 14px 26px;
  cursor: pointer;
  border-radius: 20px;
  transition: color 0.3s ease;
  position: relative;
  z-index: 2; // Met les boutons au-dessus du slider
  transition: 0.1s;

  &:hover {
    transform: scale(1.02);
  }

  &.active {
    color: var(--text-secondary);
  }
}

.account-slider {
  position: absolute;
  height: calc(100%);
  background: var(--primary);
  border-radius: 25px;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
  z-index: 1; // Slider sous les boutons
}
